Repository JustinLivi/livi-menezes-wedding: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

.gitlab-ci.yml:

image: node:8.10

stages:
  - build
  - test
  - deploy

build_serverless:
  only:
    changes:
      - serverless/**/*
      - .gitlab-ci.yml
  stage: build
  cache:
    policy: push
    paths:
      - serverless/node_modules/
  script:
    - cd serverless
    - npm install
    - npm run build
  artifacts:
    paths:
      - serverless/build/
  tags:
    - docker

build_client:
  only:
    changes:
      - client/**/*
      - .gitlab-ci.yml
  stage: build
  cache:
    policy: push
    paths:
      - client/node_modules/
  script:
    - cd client
    - npm install
    - npm run build
  artifacts:
    paths:
      - client/build/
  tags:
    - docker

test_client:
  only:
    changes:
      - client/**/*
      - .gitlab-ci.yml
  stage: test
  cache:
    policy: pull
    paths:
      - client/node_modules/
  script:
    - cd client
    - npm install
    - npm test
  tags:
    - docker

test_serverless:
  only:
    changes:
      - serverless/**/*
      - .gitlab-ci.yml
  stage: test
  cache:
    policy: pull
    paths:
      - serverless/node_modules/
  script:
    - cd serverless
    - npm install
    - npm test
  tags:
    - docker

deploy_client:
  only:
    changes:
      - client/**/*
      - .gitlab-ci.yml
  stage: deploy
  cache:
    policy: pull
    paths:
      - client/node_modules/
  variables:
    TF_VAR_aws_access_key_id: '$AWS_ACCESS_KEY_ID'
    TF_VAR_aws_secret_access_key: '$AWS_SECRET_ACCESS_KEY'
    TF_VAR_cf_alias_zone_id: '$CF_ALIAS_ZONE_ID'
    TF_BACKEND_CONFIG: '$TF_BACKEND_CONFIG'
    TF_IN_AUTOMATION: 'true'
  image:
    name: hashicorp/terraform:light
    entrypoint:
      - '/usr/bin/env'
      - 'PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
  script:
    - cd client/terraform
    - echo $TF_BACKEND_CONFIG > backend.tfvars
    - terraform init -input=false -backend-config=backend.tfvars
    - terrafrom plan -input=false
    - terraform apply -input=false -auto-approve
  artifacts:
    paths:
      - client/build/
  tags:
    - docker

deploy_serverless:
  only:
    changes:
      - serverless/**/*
      - .gitlab-ci.yml
  stage: deploy
  cache:
    policy: pull
    paths:
      - serverless/node_modules/
  variables:
    AWS_ACCESS_KEY_ID: '$AWS_ACCESS_KEY_ID'
    AWS_SECRET_ACCESS_KEY: '$AWS_SECRET_ACCESS_KEY'
  script:
    - cd serverless
    - npm i -g serverless
    - sls deploy --stage prod --verbose
  tags:
    - docker

Resolve cd issues
  .gitlab-ci.yml
  serverless/package.json
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Resolve caching issues
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Update serverless deploy
  serverless/package.json
Due: build_serverless, test_serverless, deploy_serverless

Update cloudfront terraform
  client/terraform/resources.tf
Due: build_client, test_client, deploy_client

Attempt s3 terraform fix
  client/terraform/resources.tf
Due: build_client, test_client, deploy_client

resove terraform issues
  client/terraform/resources.tf
Due: build_client, test_client, deploy_client

Add copy to s3 command
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Add separate deploy code job
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Remove unused terraform variable
  client/terraform/vars.tf
Due: build_client, test_client, deploy_client

Support bare domain
  client/terraform/resources.tf
Due: build_client, test_client, deploy_client

Remove unused terraform variables
  client/terraform/resources.tf
  client/terraform/vars.tf
Due: build_client, test_client, deploy_client

Configure ssl for static hosting
  client/terraform/modules/aws_acm_certificate/LICENSE
  client/terraform/modules/aws_acm_certificate/main.tf
  client/terraform/modules/aws_acm_certificate/outputs.tf
  client/terraform/modules/aws_acm_certificate/providers.tf
  client/terraform/modules/aws_acm_certificate/variables.tf
  client/terraform/resources.tf
Due: build_client, test_client, deploy_client

Refactor file structure
  .gitlab-ci.yml
  terraform/modules/aws_acm_certificate/LICENSE
  terraform/modules/aws_acm_certificate/main.tf
  terraform/modules/aws_acm_certificate/outputs.tf
  terraform/modules/aws_acm_certificate/providers.tf
  terraform/modules/aws_acm_certificate/variables.tf
  terraform/provider.tf
  terraform/resources.tf
  terraform/terraform.tf
  terraform/vars.tf
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Update manifest
  client/public/manifest.json
  client/public/site.webmanifest
Due: build_client, test_client, deploy_client

Add manual local dynamo config
  serverless/@types/dynamodb-migrations/index.d.ts
  serverless/docker-compose.yml
  serverless/package-lock.json
  serverless/package.json
  serverless/seed/migrate.ts
  serverless/seed/migrations/Profiles.json
  serverless/seed/profiles.json
  serverless/serverless.yml
  serverless/src/config.ts
  serverless/src/routes/profile.ts
  serverless/tsconfig.json
Due: build_serverless, test_serverless, deploy_serverless

Add deployment branch condition
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Start redux integration
  client/package-lock.json
  client/package.json
  client/src/@types/redux-api-middleware/index.d.ts
  client/src/Pages/Profile/index.tsx
  client/src/Routes.tsx
  client/src/Util/createKeyableReducer.ts
  client/src/Util/rsaaActionCreator.ts
  client/src/Util/rsaaActionCreatorFactory.ts
  client/src/index.tsx
  client/src/store/actions/index.ts
  client/src/store/endpoints.ts
  client/src/store/index.ts
  client/src/store/reducers/index.ts
  client/src/store/reducers/profile.ts
  client/src/store/stateDefinition.ts
  client/tsconfig.json
  common/index.d.ts
  serverless/src/routes/profile.ts
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Resolve RSAA typing error
  client/src/Util/rsaaActionCreator.ts
  client/src/store/reducers/profile.ts
  common/index.d.ts
Due: build_client, test_client, deploy_client

Improve typing
  client/src/Util/rsaaActionCreator.ts
  client/src/Util/rsaaActionCreatorFactory.ts
  client/src/store/actions/profile.ts
  client/src/store/reducers/profile.ts
Due: build_client, test_client, deploy_client

Start profile linking
  client/package-lock.json
  client/package.json
  client/src/@types/redux-api-middleware/index.d.ts
  client/src/ButtonBar/CantMakeIt.tsx
  client/src/ButtonBar/Details.tsx
  client/src/ButtonBar/index.tsx
  client/src/Components/CheckboxCard.tsx
  client/src/Components/GoogleMap.tsx
  client/src/Components/ProfileCard.tsx
  client/src/Components/RadioButtonCard.tsx
  client/src/Components/StandardCard.tsx
  client/src/Components/VirtualTourCard.tsx
  client/src/Components/WikiCard.tsx
  client/src/Containers/ProfileContainer.tsx
  client/src/Layouts/ColumnLayout.tsx
  client/src/Layouts/GridLayout.tsx
  client/src/NavBar/Hamburger.tsx
  client/src/NavBar/HeaderText.tsx
  client/src/NavBar/Logo.tsx
  client/src/NavBar/MenuItem.tsx
  client/src/NavBar/index.tsx
  client/src/Pages/Profile/index.tsx
  client/src/Routes.tsx
  client/src/SideBar/ListItem.tsx
  client/src/SideBar/index.tsx
  client/src/Util/createKeyableReducer.ts
  client/src/Util/rsaaActionCreator.ts
  client/src/Util/rsaaActionCreatorFactory.ts
  client/src/config/index.ts
  client/src/serviceWorker.ts
  client/src/store/actions/profile.ts
  client/src/store/endpoints.ts
  client/src/store/index.ts
  client/src/store/reducers/profile.ts
  client/src/store/selectors/index.ts
  client/src/store/stateDefinition.ts
  client/tslint.json
  common/index.d.ts
  serverless/src/config.ts
  serverless/src/routes/profile.ts
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Add cdn cache invalidation and proper client config
  .gitlab-ci.yml
  client/src/Containers/ProfileContainer.tsx
  client/src/Util/rsaaActionCreator.ts
  client/src/config/index.ts
  terraform/outputs.tf
  terraform/resources.tf
  terraform/vars.tf
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Resolve CD bugs
  .gitlab-ci.yml
  terraform/resources.tf
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Update cd
  .gitlab-ci.yml
  serverless/package-lock.json
  serverless/package.json
  serverless/serverless.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Resolve CD issue
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Add basic auto-fill address
  client/package-lock.json
  client/package.json
  client/src/@types/mui-places-autocomplete/index.d.ts
  client/src/Components/AddressInput.tsx
  client/src/Components/GoogleMap.tsx
  client/src/Components/ProfileCard.tsx
  client/src/Components/StandardCard.tsx
  client/src/Pages/Rsvp/CantMakeIt.tsx
  client/src/Pages/Rsvp/Details.tsx
  client/src/Pages/Rsvp/index.tsx
  client/src/Routes.tsx
  client/src/Util/loadMapsApi.ts
Due: build_client, test_client, deploy_client

Update serverless deployment
  .gitlab-ci.yml
  serverless/package-lock.json
  serverless/package.json
  serverless/serverless.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Enable CORS for UI domain
  serverless/package-lock.json
  serverless/package.json
  serverless/serverless.yml
  serverless/src/config.ts
  serverless/src/index.ts
Due: build_serverless, test_serverless, deploy_serverless

Add login and rsvp logic
  .gitlab-ci.yml
  client/src/App.tsx
  client/src/ButtonBar/CantMakeIt.tsx
  client/src/ButtonBar/ImGoing.tsx
  client/src/ButtonBar/index.tsx
  client/src/Components/ErrorMessage.tsx
  client/src/Containers/LoginContainer.tsx
  client/src/Containers/ProfileContainer.tsx
  client/src/Pages/Login/index.tsx
  client/src/Pages/Profile/index.tsx
  client/src/Routes.tsx
  client/src/Routing/ProtectedRouter.tsx
  client/src/Routing/ProtectedRoutes.tsx
  client/src/Routing/Routes.tsx
  client/src/Util/rsaaActionCreator.ts
  client/src/common/index.ts
  client/src/store/actions/profile.ts
  client/src/store/actions/rsvpCeremony.ts
  client/src/store/actions/rsvpRehearsal.ts
  client/src/store/endpoints.ts
  client/src/store/reducers/profile.ts
  client/src/store/selectors/index.ts
  client/src/store/stateDefinition.ts
  common/index.d.ts
  serverless/serverless.yml
  serverless/src/middleware/errorware.ts
  serverless/src/routes/index.ts
  serverless/src/routes/profile.ts
  serverless/src/routes/rsvpCeremony.ts
  serverless/tsconfig.json
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Resolve UI test issue
  client/package.json
  client/src/App.test.tsx
Due: build_client, test_client, deploy_client

Ensure terraform always runs if client changes
  .gitlab-ci.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Use fetchJsonP for api calls
  client/src/Util/rsaaActionCreator.ts
Due: build_client, test_client, deploy_client

Fix CORS configuration
  client/src/Util/rsaaActionCreator.ts
  serverless/serverless.yml
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Attempt CORS fix
  serverless/serverless.yml
  serverless/src/index.ts
  serverless/src/middleware/cors.ts
Due: build_serverless, test_serverless, deploy_serverless

Add basic details persistence
  client/src/Components/AddressInput.tsx
  client/src/Pages/Rsvp/CantMakeIt.tsx
  client/src/Pages/Rsvp/CantMakeItCard.tsx
  client/src/Pages/Rsvp/ImGoingCard.tsx
  client/src/Pages/Rsvp/RsvpCard.tsx
  client/src/Pages/Rsvp/index.tsx
  client/src/Routing/ProtectedRoutes.tsx
  client/src/common/index.ts
  client/src/profiles/profiles.yml
  client/src/store/actions/updateDetails.ts
  client/src/store/selectors/index.ts
  serverless/package-lock.json
  serverless/package.json
  serverless/serverless.yml
  serverless/src/routes/index.ts
  serverless/src/routes/rsvpCeremony.ts
  serverless/src/routes/rsvpDetails.ts
  serverless/src/updateProfile.ts
  serverless/tslint.json
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Persist store locally
  client/package-lock.json
  client/package.json
  client/src/@types/mui-places-autocomplete/index.d.ts
  client/src/ButtonBar/index.tsx
  client/src/Components/AddressInput.tsx
  client/src/Containers/LoginContainer.tsx
  client/src/Pages/Rsvp/CantMakeItCard.tsx
  client/src/Pages/Rsvp/ImGoingCard.tsx
  client/src/Pages/Rsvp/RsvpCard.tsx
  client/src/Util/rsaaActionCreator.ts
  client/src/common/index.ts
  client/src/index.tsx
  client/src/store/actions/profile.ts
  client/src/store/actions/rsvpCeremony.ts
  client/src/store/actions/rsvpRehearsal.ts
  client/src/store/actions/updateDetails.ts
  client/src/store/actions/user.ts
  client/src/store/index.ts
  client/src/store/reducers.ts
  client/src/store/reducers/index.ts
  client/src/store/reducers/profile.ts
  client/src/store/selectors.ts
  client/src/store/selectors/index.ts
  client/src/store/stateDefinition.ts
  serverless/serverless.yml
  serverless/src/routes/index.ts
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Finalize form fill for guests that are going
  client/package-lock.json
  client/package.json
  client/src/Components/AddressInput.tsx
  client/src/Pages/Rsvp/CantMakeItCard.tsx
  client/src/Pages/Rsvp/ImGoingCard.tsx
  client/src/Pages/Rsvp/RsvpCard.tsx
  client/src/Util/createKeyableReducer.ts
  client/src/Util/rsaaActionCreator.ts
  client/src/common/index.ts
  client/src/store/actions/updateDetails.ts
  client/src/store/reducers.ts
  client/src/store/reducers/index.ts
  client/src/store/reducers/rsvpCeremony.ts
  client/src/store/reducers/updateDetails.ts
  client/src/store/reducers/user.ts
  client/src/store/selectors.ts
  serverless/src/routes/rsvpDetails.ts
Due: build_serverless, build_client, test_client, test_serverless, deploy_client, deploy_serverless

Add basic relationship querying
  client/src/App.tsx
  client/src/ButtonBar/CantMakeIt.tsx
  client/src/ButtonBar/ContinueBar.tsx
  client/src/ButtonBar/Details.tsx
  client/src/ButtonBar/DetailsIcon.tsx
  client/src/ButtonBar/ImGoing.tsx
  client/src/ButtonBar/RsvpBar.tsx
  client/src/Components/MenuLinks.tsx
  client/src/Pages/Details/index.tsx
  client/src/Pages/Directions/index.tsx
  client/src/Pages/OurStory/index.tsx
  client/src/Pages/Rsvp/RsvpCard.tsx
  client/src/Pages/Rsvp/RsvpDetails.tsx
  client/src/Pages/Rsvp/RsvpRelation.tsx
  client/src/Pages/ThingsToDo/index.tsx
  client/src/Pages/Venue/index.tsx
  client/src/Pages/WhereToStay/index.tsx
  client/src/Routing/ProtectedRoutes.tsx
  client/src/Routing/Redirector.tsx
  client/src/SideBar/index.tsx
  client/src/store/actions/redirect.ts
  client/src/store/actions/user.ts
  client/src/store/index.ts
  client/src/store/reducers/index.ts
  client/src/store/reducers/redirect.ts
  client/src/store/reducers/rsvpCeremony.ts
  client/src/store/reducers/updateDetails.ts
  client/src/store/reducers/user.ts
  client/src/store/selectors.ts
  client/src/store/stateDefinition.ts
Due: build_client, test_client, deploy_client

Integrate realtion photo
  client/src/Pages/Rsvp/RsvpRelation.tsx
  client/src/store/selectors.ts
Due: build_client, test_client, deploy_client

Finalize relation RSVP, start relation details
  client/src/ButtonBar/CantMakeIt.tsx
  client/src/ButtonBar/ContinueBar.tsx
  client/src/ButtonBar/Details.tsx
  client/src/ButtonBar/ImGoing.tsx
  client/src/ButtonBar/RsvpBar.tsx
  client/src/ButtonBar/RsvpContinueBar.tsx
  client/src/Pages/Rsvp/RsvpDetailsRelation.tsx
  client/src/Pages/Rsvp/RsvpRelation.tsx
  client/src/Routing/ProtectedRoutes.tsx
  client/src/store/actions/rsvpCeremony.ts
  client/src/store/reducers/rsvpCeremony.ts
  client/src/store/selectors.ts
  rsvpFlow.bpmn
Due: build_client, test_client, deploy_client
